
html,body{
    margin: 0;  
    border: 0;
    background-color: bisque;
}

table {
    width: 90%;
    border: solid 2px black;
    border-collapse: collapse;
    margin: 0 60px;
}

caption {
    text-align: left;
    font-weight: 700;
    padding: 10px 0;
}

thead,tbody,th,td {
    text-align: center;
    border: 2px solid black;
    max-width: fit-content;
}

th {
    background-color: lightblue;
}
h1 {
    margin:10px 60px;
}
a {
    text-decoration: none;
}